<% if @user.is_admin%>
<div id = "top_right_box">
  <%= link_to "Home", :action => "home" , :controller => "users"%><br/>
  <%= link_to("Change employees password", {:action => "change_employee_password"})%>
</div>
<% end %>  

<div id = "change_password">
<% if @user %>
  <%= error_messages_for :user %></p>
   <table>
    <% form_for :change, :url => {:action => "change_password" } do |f| %>

      <% if @user.forgot_password_hash || @user.confirm_creation_hash%>
      <tr>
        <td><label for=”change_password”>New Password:</label></td>
        <td><%= f.password_field "password", :size => 30 %></td>
      </tr>  
      <tr>
        <td><label for=”change_password_confirmation”>Confirm Password:</label></td>
         <td><%= f.password_field "password_confirmation", :size => 30 %></td>
       </tr>  
      <% else %>

        <tr>
          <td><label for=”change_old_password”>Old Password:</label></td>
          <td><%= f.password_field "old_password", :size => 30 %></td>
        </tr>  
        <tr>
          <td><label for=”change_password”>New Password:</label></td>
          <td><%= f.password_field "password", :size => 30 %></td>
        </tr>
        <tr>
          <td><label for=”change_password_confirmation”>Confirm Password:</label></td>
          <td><%= f.password_field "password_confirmation", :size => 30 %></td>
        </tr>  
      <%end%>
      
      <tr>
        <td><%= submit_tag "Change Password" %></td>
      </tr>
   </table>

    <%end%>  
 
<%end%>  
</div>
