  <%= error_messages_for :user %></p>
  <table>
    <% form_for :change, :url => {:action => "change_employee_password" } do |f| %>

      <tr>
        <td><label for=”employee_email”>Employee Email:</label></td>
        <td><%= select_tag(:email,options_for_select(Employee.all.collect {|i| [i.email]}))%></td>
      </tr>  

      <tr>
        <td><label for=”change_password”>New Password:</label></td>
        <td><%= f.password_field "password", :size => 30 %></td>
      </tr>
      <tr>
        <td><label for=”change_password_confirmation”>Confirm Password:</label></td>
         <td><%= f.password_field "password_confirmation", :size => 30 %></td>
      </tr>
      
      <tr>
        <td><%= f.submit "Change Password" %></td>
      </tr>
    <% end %>  
  </table>
