<head>
<title>Create Project</title>
</head>
 
<%= error_messages_for :project %></p>
<div id = "project_form">
<table>
    <% form_for :project, :url => {:action => "create", :controller => "projects" } do |f| %>
    <tr>
      <td><label for=”project_name”>Project Name:</label></td>
      <td>    <%= f.text_field :name, :size => 26 %></p></td>
      </td>
    <tr>
      <td align ="right"><p><label for=”project_description”>Description:</label></td>
      <td><%= f.text_area :description,:cols => "30",:rows => "4" %></p></td>
      </td>
    </tr> 
    <tr >
    <td><label for="employees">Select Employees</label></td>      
    <td >
      <%= select_tag ("employees[]", options_for_select(Employee.all.collect {|e| [e.email] }), 
                      { :size =>"5",:multiple => "multiple", :style =>"width:260px;height:100px;" })   %>
  
    </td>
  </tr> 
    <tr>
      <td align ="right">
        <br/><%= f.submit "Create" %>
      </td>
    </tr>    
    <% end %>
</table>    
</div>    

